/*PROPRIÉTÉS GÉNÉRALES*/

/* Écriture
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.loading-spinner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: lightgrey;
    z-index: 1;
    opacity: 0.9;
    animation: disparaitre 500ms 3s;
    animation-fill-mode: forwards; /*que le cadre du loading reste dans son dernier état=opcaity 0)*/ 
}

.loading-spinner i {
    animation: tourner 3s linear;
    color: #9356DC;
}

@keyframes disparaitre {
    100% {visibility: hidden;}
} 

@keyframes tourner {
    to {transform: rotate(360deg);}
    
}

/* HEADER*/

header {
    text-align: center;
    box-shadow: 0px 2px 2px lightgray;
    padding: 20px;
    position: relative; /* nécessaire pour qu'il passe au-dessus du bloc suivant (Paris) sinon on ne verra pas le box-shadox*/
}

header img {
    width: 50%;
}

/* PREMIÈRE SECTION: PARIS ET TITRES*/

.paris {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(211, 211, 211, 0.495);
    padding: 5px;
}

h1 {
    font-size: 15px;
}

.textes-haut {
    text-align: center;
    font-size: 16px;
    padding: 10%;
    flex-wrap: wrap;
    background-color: #f3f3f386;
}

h2 {
    font-weight: 500;
}

/*comment mettre l'autre option du roboto plus fin pour "découvrez des restaus..."? */


.textes-haut button {
    
    margin-top: 10px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 24px -8px #000000;
}

.textes-haut button:hover {
    background-image: linear-gradient(#e67dc3, #BF9CE8); /*couleurs plus claires choisies sur la roue chromatique. On peut aussi mettre opacity à 0.9 par exemple*/
    box-shadow: 0px 5px 50px -8px #000000;;
}

.textes-haut p {
    font-weight: 100;
}

/* FONCTIONNEMENT*/

.fonctionnement {
    
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
}

h2 {
    padding: 5%;
    
}

ol {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
    text-align: center;
    margin: 5%;
    gap: 20px;
}

li {
    padding: 30px 60px;
    background-color: #F6F6F6;
    border-radius: 30px;
    box-shadow: 3px 5px 10px -10px #000000;
    display: block;
    width: 95%;
}


.puce-violette {
    background-color: #bf9ce837;
}

.degustez { color: #9356DC;}

.numeros {
    position:absolute;
    margin-left: -70px;
    margin-top: -5px;
    border: 1px solid #9356DC;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
}

.un { padding: 5px 9px;}
.deux { padding: 5px 8px;}
.trois { padding: 5px;}

li i {
    position: absolute;
    margin-left: -30px;
    color: grey;
}

/*RESTAURANTS*/

.bloc-restaus {
    background-color: #F3F3F3;
    padding: 30px 0px;
}

.carte-modele {
    background-color: white;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 5%;
    height: 260px;
    box-shadow: 3px 5px 10px -10px #000000;
}

.carte-modele img {
    height: 180px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.carte-modele button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    border: none;
    border-radius: 2px;
    color: green;
    padding: 5px;
}

.titres-restaus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -4px 10px;
}

.titres-coeur {
    position: relative;
}

.titres-coeur i {
    font-size: 150%;
}

.fa-heart {
    position: absolute;
    top: 30%;
    right: 10%;
}

.effet {
    background-image: linear-gradient(#e67dc3, #BF9CE8);
    color: transparent;
    background-clip: text; 
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1s;
}

.effet:hover {
    opacity: 1;
}


.soustitre {
    display: block;
    position: relative;
    top: -12px;
}

.gris-clair {
    color: #00000089;
}

/*FOOTER*/

footer {
    background-color: #000000d0;
    color: white;
    padding: 5%
}

h4 {
    font-family: "Shrikhand", "sans-serif";
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

/*MEDIA QUERIES POUR TABLETTES ET DESKTOP*/

@media screen and (min-width: 768px) {
    .restaus {display: flex; flex-wrap: wrap;}
    .carte-modele {width: 40%;}
    
}

/*MEDIA QUERIES POUR DESKTOP*/

@media screen and (min-width: 992px) {
    li {width: 30%;}
    .textes-haut {padding: 5%;}
    h2 {padding:1%;}
}