/*PROPRIÉTÉS GÉNÉRALES*/

/* Écriture
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* HEADER*/

header {
    text-align: center;
    box-shadow: 0px 2px 2px lightgray;
    padding: 20px;
    position: relative; /* nécessaire pour qu'il passe au-dessus du bloc suivant (Paris) sinon on ne verra pas le box-shadox*/
}

header img {
    width: 50%;
}

/* PREMIÈRE SECTION: PARIS ET TITRES*/

.paris {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(211, 211, 211, 0.495);
    padding: 5px;
}

h1 {
    font-size: 15px;
}

.textes-haut {
    text-align: center;
    font-size: 16px;
    padding: 10%;
    flex-wrap: wrap;
    background-color: #f3f3f386;
}

h2 {
    font-weight: 900;
}

/*comment mettre l'autre option du roboto plus fin pour "découvrez des restaus..."? */


.textes-haut button {
    
    margin-top: 10px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 24px -8px #000000;
}

.textes-haut button:hover {
    background-image: linear-gradient(#e67dc3, #BF9CE8); /*couleurs plus claires choisies sur la roue chromatique. On peut aussi mettre opacity à 0.9 par exemple*/
    box-shadow: 0px 5px 50px -8px #000000;;
}

/* FONCTIONNEMENT*/

.fonctionnement {
    
    align-items: center;
}

h2 {
    padding: 5%;
    
}

ol {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
    text-align: center;
     margin: 0px 10%; /* Afin que les trois instructions soient décalées de la gauche, et soient alignées sans être centrées car la première instruction est plus longue =décalage*/
    gap: 20px;
}

li {
    padding: 30px 60px;
    background-color: #F6F6F6;
    border-radius: 30px;
    gap: 40%;
    box-shadow: 3px 5px 10px -10px #000000;
    position: relative;
}

.puce-violette {
    background-color: #bf9ce837;
}

.degustez { color: #9356DC;}

.numeros {
    position:absolute;
    margin-left: -70px;
    margin-top: -5px;
    border: 1px solid #9356DC;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
}

.un { padding: 5px 9px;}
.deux { padding: 5px 8px;}
.trois { padding: 5px;}

li i {
    position: absolute;
    margin-left: -30px;
    color: grey;
}